@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-wrap: anywhere;
  }

  html {
    width: 100vw;
    height: 100vh;
  }

  .text-color {
    @apply text-dark dark:text-light;
  }

  .background-color {
    @apply bg-light dark:bg-dark;
  }

  .icon-fill-color {
    @apply fill-dark dark:fill-light;
  }

  .h1 {
    @apply text-color font-primary text-3xl font-bold lg:text-4xl;
  }

  .h2 {
    @apply text-color font-primary text-2xl font-bold lg:text-3xl;
  }

  .h3 {
    @apply text-color font-primary text-xl font-bold lg:text-2xl;
  }

  .h4 {
    @apply text-color font-primary text-lg font-bold lg:text-xl;
  }

  .h5 {
    @apply text-color font-primary text-base font-bold lg:text-lg;
  }

  .h6 {
    @apply text-color font-primary text-sm font-bold lg:text-base;
  }

  .normal-text {
    @apply text-color font-secondary text-sm font-normal lg:text-base;
  }
}
