---
import Layout from '@layouts/Layout.astro';
import PageNotFoundLight from '@assets/icons/PageNotFoundLight.svg';
import PageNotFoundDark from '@assets/icons/PageNotFoundDark.svg';
---

<Layout description="404 - Page Not Found" title="Page Not Found">
  <p class="h1">404 - Page Not Found!</p>
  <div style={{ position: 'absolute', bottom: 0, right: 0, zIndex: -1 }}>
    <img src={PageNotFoundLight.src} class="hidden max-h-[720px] dark:block" />
    <img src={PageNotFoundDark.src} class="block max-h-[720px] dark:hidden" />
  </div>
</Layout>
