---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import Post from '@components/blog/Post.astro';

const posts = await getCollection('blog', (post) => !post.data.draft);
posts.sort(
  (curr, next) =>
    new Date(next.data.datePublished).getTime() - new Date(curr.data.datePublished).getTime()
);

const pageTitle = 'Blog - Yogendra Kumar V R';
const pageDescripton = '';
---

<Layout description={pageDescripton} title={pageTitle}>
  <div class="flex flex-wrap gap-16">
    {posts.map((post) => <Post post={post} />)}
  </div>
</Layout>
