---
import Logo from '../../assets/Logo.astro';
import HeaderLink from './HeaderLink.astro';
import { ThemeSwitcher } from '../../components/header/ThemeSwitcher.tsx';
import Resume from '../../assets/resume/Yogendra_Kumar_V_R.pdf';
import Download from '../../assets/icons/Download.astro';
---

<header class="transition">
  <nav class="flex items-center justify-between align-middle">
    <!-- Logo -->
    <a href="/" class="no-underline"> <Logo className="w-[48px] text-color lg:w-[64px]" /></a>

    <div class="lg:gap-24 flex items-center gap-32">
      <HeaderLink title="About" href="/about" />
      <a href={Resume} download="Yogendra Kumar V R.pdf" class="rounded bg-dark p-8 dark:bg-light">
        <Download className="w-[24px] fill-light dark:fill-dark lg:w-[32px]" />
      </a>
      <ThemeSwitcher client:only />
    </div>
  </nav>
</header>
