---
const props = Astro.props;
---

<blockquote {...props} class="flex gap-8">
  <div class="bg-dark p-4 transition-opacity duration-150 dark:bg-light"></div>
  <div class="flex flex-col gap-4">
    <slot />
  </div>
</blockquote>
