---
import { ViewTransitions } from 'astro:transitions';
import Header from '@components/header/Header.astro';
import { Easter } from '@components/Easter';
import '../styles/base.css';
import { ScrollToTopButton } from '@components/ScrollToTopButton';

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body class="background-color m-w-[1440px] mx-auto flex flex-col gap-16 p-16 lg:p-32">
    <Easter client:only />
    <Header />
    <slot />
    <ScrollToTopButton client:load />
  </body>
</html>
