---
import { ViewTransitions } from 'astro:transitions';
import Header from '@components/header/Header.astro';
import { Easter } from '@components/Easter';
import '../styles/base.css';
import { ScrollToTopButton } from '@components/ScrollToTopButton';

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
    <script>
      window.va =
        window.va ||
        function () {
          (window.vaq = window.vaq || []).push(arguments);
        };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
  </head>

  <body class="background-color mx-auto flex max-w-[1440px] flex-col gap-16 p-16 lg:p-32">
    <Easter client:only />
    <Header />
    <slot />
    <ScrollToTopButton client:load />
  </body>
</html>
